[submodule "chez-soundio"]
	path = chez-soundio
	url = https://github.com/ul/chez-soundio
[submodule "chez-sockets"]
	path = chez-sockets
	url = https://github.com/ul/chez-sockets
[submodule "chez-portmidi"]
	path = chez-portmidi
	url = https://github.com/ul/chez-portmidi.git
[submodule "org-html-themes"]
	path = org-html-themes
	url = https://github.com/fniessen/org-html-themes.git
